/******Box sizing******/





/******Image Sizing****/






/******Sizing *******/




/****Mobile First****/

body {
    text-align: center;
    font-family: "Herculanum";
}


li {
    list-style: none;
}
/***Header Part***/

header {
    background-color: rgb(255, 229, 0);


}

.maintitle {
    display : flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(28, 27, 16);

}

#rightDragon{
    width: 25%;
}
#leftDragon {
    width: 25%;
}

#icon {
    border : 2px solid black;
}

h1 {
    color: rgb(255, 229, 0);
}
/***Side Bars Part***/
.sidebardragon {
    display : inline-block;
    text-align: center;
}

.dragonbutton{
    display: flex;
    justify-content : space-evenly;
    align-self: center;
    background-color : gold;
}


ul{
    list-style-type: none;
}

li {
    display: flex;
    justify-content: center;
}

.dragoninfos {
    display : block;
}

.sidebarbutton {
    border-radius: 48%;
}

.identity{
    width: 100vw;
    background-color: blue;
    color: gold;
}

.skillset{
    width: 100vw;
    background-color: red;
    color: gold;
}

.hobbies{
    width: 100vw;
    background-color: orange;
    color: gold;
}





/***Section Experience***/
.experience {
    display: block;

}
#brucepicture {
    width: 250px;
    height: 200px;
}
#brucepicture:hover {
    opacity: 0.2;
    cursor: pointer;
}
.description {
    display: block;
    margin : 0 auto;
    width: 500px;
    height: 200px;
}



/***Section Formation***/





/***Section Form***/

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-display {
    display: flex;
    justify-content: space-between;
}

input {
    width: 80%;
    height: 35px;
    border: 2px solid black;
    border-radius: 2px;
    margin: 10px 0;
    box-sizing: border-box;
    box-shadow: 0 1px 3px 0 black;
    transition: 0.3s;
}

#age, #genre {
    text-align: center;
}

input:hover {
    box-shadow: 0 8px 10px 1px;
    transition: 0.3s;
}

input {
    padding-left: 10px;
}

.form-display label {
    vertical-align: center;
    padding: 0 20px;
    margin: auto;
}

.form-display input {
    width: 100px;
    height: 35px;
    border: 2px solid black;
    box-shadow: 0 1px 3px 0 black;
    transition: 0.3s;
}

.form-display input:hover {
    box-shadow: 0 8px 10px 1px;
    transition: 0.3s;
}

.form-display select {
    width: 100px;
    height: 35px;
}

.form-display select:hover {
    box-shadow: 0 8px 10px 1px;
    transition: 0.3s;
}

select {
    width: 80%;
    height: 35px;
    border: 2px solid black;
    margin: 10px 0;
    box-shadow: 0 1px 3px 0 black;
    transition: 0.3s;
}

select:hover {
    box-shadow: 0 8px 10px 1px;
    transition: 0.3s;
}

#audit, #martialArt {
    padding-left: 10px;
    background-color: white;
}

textarea {
    width: 80%;
    height: 100px;
    border: 2px solid black;
    box-sizing: border-box;
    margin-top: 10px;
    box-shadow: 0 1px 3px 0 black;
    transition: 0.3s;
    padding-top: 5px;
    padding-left: 10px;
}

textarea:hover {
    box-shadow: 0 8px 10px 1px;
    transition: 0.3s;
}

#button-form {
    height: 35px;
    width: 100px;
    border: 2px solid black;
    border-radius: 3px;
    background-color: black;
    color: yellow;
    margin-top: 20px;
    transition: 0.3s;
    box-shadow: 0 1px 3px 0 black;
}

#button-form:hover {
    background-color: yellow; /* A changer */
    color: black;
    transition: 0.3s;
    box-shadow: 0 8px 10px 1px;
}


/***Section Footer***/
footer {
    background-color: rgb(255, 229, 0);
    display: block;
    margin: 0 auto;
}

/******************************************************************/

/****Touch Pad****/










/******************************************************************/

/****Desktop****/