.footbarupdown {
    background-color: #ffe500;
    width: 100vw;
    height: 30px;
}

.footbarmiddle {
    background-color:black;
    width: 100vw;
    height: 120px;
    display: flex;
    justify-content: space-around;
}

.followus {
    display: flex;
    flex-direction: column;
}

#invitation {
    font-family: 'Roboto', sans-serif;
    margin: 5px 0px 0px 30px;
    text-align: center;
    color: white;
}

#socialnetwork {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.iconsize {
    width: 40px;
    height: 40px;
}

#quotes {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    color:white;
    line-height: 20px;
    padding-right: 40px;
    padding-top: 10px;
}
#quotes p a {
    color: #FFE550;
}

#quotes p {
    margin: 3px;
    text-align: right;
    font-size: 18px
}

@media screen and (max-width:420px){
    .footbarupdown {
        width: 100vw;
        height: 16px;
        padding: 10px;
        box-sizing: border-box;
    }

    .footbarmiddle {
        width: 100vw;
        height: 100px;
        display: flex;
        flex-direction: column;
    }
    #invitation {
        font-size: 8pt;
        line-height: 18px;
        margin: 0px;
    }
    #socialnetwork {
        margin-top: 5px;
    }

    .iconsize {
        width: 20px;
        height: 20px;
    }

    #quotes {
        line-height: 16px;
        padding:0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #quotes p {
        font-size: 6pt;
        margin:0px;
    }
}