body {
    line-height: 32px;
}

#title-formation{
    display: flex;
    justify-content: center;
}

/* #formation-title {
    background-color : black;
    border : 2px solid black;
    color:#ffe550;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left : 6px;
    padding-right : 6px;
    height: 50px;
    letter-spacing: 3px;
} */

.formation-subtitles {
    background-color : black;
    color : #ffe500;
    border : 2px solid #ffe500;
    padding : 6px 18px;
    margin-bottom: 0px;
    display: inline-block;
}

.spirituality , .acting , .martialarts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0px 40px 60px 40px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(255, 236, 68, 0.95);
    padding: 0px 20px 40px 20px;
}

#acting-list {
    list-style: none;
}

.bruceleemeditation {
    width: 400px;
    height:300px;
    border-radius: 10px;
    margin-right : 50px;
    margin-left : 50px;
}

.bruceleechucknorris {
    object-fit: cover;
    object-position: top;
    width: 400px;
    height:400px;
    border-radius: 10px;
    margin-bottom : 50px;
    margin-left : 50px;
}

.bruceleeworking3 {
    width: 300px;
    height:400px;
    border-radius: 5px;
    margin-right : 50px;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text > p {
    width: 300px;
}

#acting-text {
    display: flex;
    flex-direction: column;
    width: 50vw;
}

#artmartial-text {
    width: 50vw;
}

@media screen and (max-width:420px){
    .formation-subtitles {
        margin-bottom: 20px;
    }
    .spirituality , .acting , .martialarts{
        display: flex;
        flex-direction: column;
        padding-bottom: 0px;
    }
    .spirituality {
        width: 70vw;
    }
    .spiri-text {
        padding: 0px 20px;
    }
    .text{
        display: flex;
        flex-direction: column;
        width: 80vw;
    }
    .bruceleemeditation {
        width: 300px;
        height:200px;
        margin: 0px;
        border-radius: 10px;
    }
    #acting-list {
        list-style: none;
        padding-left:0px;
    }
    #acting-text {
        width: 60vw;
    }
    #acting-text > p {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    .bruceleechucknorris {
        width: 70vw;
        height:25vh;
        margin-bottom : 20px;
        margin-left : 0px;

    }
    .bruceleeworking3 {
        width: 60vw;
        height:40vh;
        margin-right : 0px;
    }

    #artmartial-text {
        width: 70vw;
    }
}