body {
    line-height: 32px;
}

#title-formation{
    display: flex;
    justify-content: center;
}

.formation-subtitles {
    font-family: 'Kaushan Script', cursive;
    letter-spacing: 3px;
    background-color : black;
    color : #ffe500;
    border : 2px solid #ffe500;
    padding : 6px 18px;
    margin-bottom:20px;
    display: inline-block;
}

.formation {
    display: flex;
    flex-direction: column;

}

.spirituality , .acting , .martialarts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(255, 236, 68, 0.95);
    padding: 0px 20px 40px 20px;
    margin-bottom: 50px;
    margin-top: 50px;
    width: 1000px;
}
.spirituality {
    font-family: 'Roboto', sans-serif;
}

#acting-list {
    list-style: none;
}

.bruceleemeditation {
    width: 400px;
    height:300px;
    border-radius: 10px;
    margin-right : 50px;
    margin-left : 50px;
}

.bruceleechucknorris {
    object-fit: cover;
    object-position: top;
    width: 350px;
    height:350px;
    border-radius: 10px;
    margin-bottom : 50px;
    margin-left : 50px;
}

.bruceleeworking3 {
    width: 300px;
    height:400px;
    border-radius: 5px;
    margin-right : 50px;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text > p {
    font-family: 'Roboto',sans-serif;
    width: 300px;
}

#acting-text {
    font-family: 'Roboto',sans-serif;
    display: flex;
    flex-direction: column;
    width: 600px;
}

#artmartial-text {
    font-family: 'Roboto',sans-serif;
    width: 600px;
}

@media screen and (max-width:420px){
    .formation-subtitles {
        margin-bottom: 20px;
    }
    .spirituality , .acting , .martialarts{
        display: flex;
        flex-direction: column;
        padding-bottom: 0px;
        width: 60vw;
        margin: auto;
        margin-bottom: 50px;
    }

    #spiri-text {
        padding: 0px 40px;
    }
    .text{
        font-family: 'Roboto',sans-serif;
        display: flex;
        flex-direction: column;
        width: 80vw;
    }
    .bruceleemeditation {
        width: 300px;
        height:200px;
        margin: 0px;
        border-radius: 10px;
    }
    #acting-list {
        font-family: 'Roboto',sans-serif;
        list-style: none;
        padding-left:0px;
    }
    #acting-text {
        width: 60vw;
    }
    #acting-text > p {
        margin-top: 0px;
        margin-bottom: 0px;
        font-family: 'Roboto',sans-serif;
        width:100%;
    }

    .bruceleemeditation {
        width: 60vw;
    }

    .bruceleechucknorris {
        width: 60vw;
        height:25vh;
        margin-bottom : 20px;
        margin-left : 0px;

    }
    .bruceleeworking3 {
        width: 60vw;
        height:40vh;
        margin-right : 0px;
    }

    #artmartial-text {
        font-family: 'Roboto',sans-serif;
        width: 60vw;
    }
}