.container-down {
    text-align: center;
}

.container-right {
    padding: 50px;
}

#sidebar-picture {
    margin: 0 30px;
    width: 250px;
    margin-top: -105px;
    animation-duration: 3s;
    animation-name: slide;
    animation-iteration-count: infinite;
    transform-origin: top;
    animation-direction: alternate-reverse;
    animation-timing-function: ease-in-out;
}

@keyframes slide {
    0% {
    transform: rotate(-2deg);
    }
    100% {
        transform: rotate(2deg);
    }
}

@media screen and (max-width:420px){
    .sidebar-picture{
    display:none
    }
}
