body {
    line-height: 32px;
}
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.identity , .skills , .hobbies{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(255, 236, 68, 0.95);
    width: 60vw;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 30px;
}

.sidebar-titles {
    background-color : black;
    border : 2px solid black;
    color: #FFE500;
    padding : 6px;
    margin: 0;
    letter-spacing: 3px;
}

.minibrucelee {
    width: 250px;
    height:200px;
}

.sidebar-text {
    display: flex;
    padding: 0px 20px;
}

.sidebar-list {
    list-style-type: none;
    font-size: 20px;
    padding-left: 0px;
}

.bottomlign{
    width : 600px;
    border: 4px dashed #FFE550;
    margin-bottom: 32px;
}


@media screen and (max-width:420px){
    .sidebar-text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .sidebar-titles {
        font-size: 18pt;
    }
    .hobbies {
        margin-bottom: 0px;
    }
    .identity {
        margin-top: 0px;
    }

    .minibrucelee {
        width: 150px;
        height:100px;
    }
    .sidebar-list {
        list-style-type: none;
        font-size: 12pt;
        padding-left: 0px;
        text-align:center;
    }
    .bottomlign{
        width : 90vw;
        border: 2px dashed #FFE550;
        margin-bottom: 24px;
    }
}