.message {
    display: flex;
    flex-direction: row-reverse;
    align-content: flex-start;
    border: 5px solid black;
    width : 60%;
    margin: auto;
    background-color: rgba(255, 236, 68, 0.95);

}

div img {
    height: 350px;
    width: 350px;
}

.message h2, ul, p {
    width: 50%;
    margin: 15px auto;
}
h2 {
    border: 2px solid black;
    border-radius: 10px;
    padding: 40px 20px 40px 20px;
    font-style: oblique;
    background-color: black;
    color: rgba(255, 236, 68, 0.95);
}
ul li {
    list-style: none;
    margin:  auto;
}

body{
    background-image: url(img/dojo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 100vh;
}

.failed {
    border: 1px solid black;
    width: 60%;
    margin: auto;
    background-color: rgba(255, 236, 68, 0.95);
    text-align: center;
}
.error  {
    display: flex;
    flex-direction: column;

    width: 70%;

}

ul.error {
    display: flex;
    align-items: flex-start;
}